<div class="row">
  <div class="col-md-12">
    <h3>Welcome, @Model["member"].name.</h3>
    <hr>
    <h4>Your checkouts:</h4>
    <ul>
      @foreach (var checkout in Model["checkouts"])
      {
        <li @if(checkout.dueDate < Model["today"]) {class="overdue"}>@checkout.GetBookTitle(), Due @checkout.dueDate</li>
      }
    </ul>
    <hr>
    <p><a href="/">Home Page</a></p>
  </div>
</div>
