<div class="row">
  <div class="col-md-12">
    <h3>Become a Member of Local Public Library</h3>
    <form action="/member/new" method="post">
      <label for="memberName">Your name:</label>
      <input type="text" name="memberName" required>
      <button type="submit">Create account</button>
    </form>
    <hr>
    <p><a href="/">Home Page</a></p>
  </div>
</div>
